Kharazmi/Doc_Kharazmi/Webservice/GhasemService.asmx.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSalesReportForTaminkonandeh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesReportForTaminkonandehResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesReportForTaminkonandehResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesReportForTaminkonandeh_Json">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesReportForTaminkonandeh_JsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesReportForTaminkonandeh_JsonResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesReportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventoryReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventoryReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventoryReportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSalesReportForTaminkonandehSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesReportForTaminkonandeh"/>
  </wsdl:message>
  <wsdl:message name="GetSalesReportForTaminkonandehSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesReportForTaminkonandehResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSalesReportForTaminkonandeh_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesReportForTaminkonandeh_Json"/>
  </wsdl:message>
  <wsdl:message name="GetSalesReportForTaminkonandeh_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesReportForTaminkonandeh_JsonResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSalesReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesReport"/>
  </wsdl:message>
  <wsdl:message name="GetSalesReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesReportResponse"/>
  </wsdl:message>
  <wsdl:message name="GetInventoryReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventoryReport"/>
  </wsdl:message>
  <wsdl:message name="GetInventoryReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventoryReportResponse"/>
  </wsdl:message>
  <wsdl:portType name="GhasemServiceSoap">
    <wsdl:operation name="GetSalesReportForTaminkonandeh">
      <wsdl:input message="tns:GetSalesReportForTaminkonandehSoapIn"/>
      <wsdl:output message="tns:GetSalesReportForTaminkonandehSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSalesReportForTaminkonandeh_Json">
      <wsdl:input message="tns:GetSalesReportForTaminkonandeh_JsonSoapIn"/>
      <wsdl:output message="tns:GetSalesReportForTaminkonandeh_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSalesReport">
      <wsdl:input message="tns:GetSalesReportSoapIn"/>
      <wsdl:output message="tns:GetSalesReportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryReport">
      <wsdl:input message="tns:GetInventoryReportSoapIn"/>
      <wsdl:output message="tns:GetInventoryReportSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GhasemServiceSoap" type="tns:GhasemServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSalesReportForTaminkonandeh">
      <soap:operation soapAction="http://tempuri.org/GetSalesReportForTaminkonandeh" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesReportForTaminkonandeh_Json">
      <soap:operation soapAction="http://tempuri.org/GetSalesReportForTaminkonandeh_Json" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesReport">
      <soap:operation soapAction="http://tempuri.org/GetSalesReport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryReport">
      <soap:operation soapAction="http://tempuri.org/GetInventoryReport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GhasemServiceSoap12" type="tns:GhasemServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSalesReportForTaminkonandeh">
      <soap12:operation soapAction="http://tempuri.org/GetSalesReportForTaminkonandeh" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesReportForTaminkonandeh_Json">
      <soap12:operation soapAction="http://tempuri.org/GetSalesReportForTaminkonandeh_Json" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesReport">
      <soap12:operation soapAction="http://tempuri.org/GetSalesReport" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryReport">
      <soap12:operation soapAction="http://tempuri.org/GetInventoryReport" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GhasemService">
    <wsdl:port name="GhasemServiceSoap" binding="tns:GhasemServiceSoap">
      <soap:address location="https://ghasemservice.minoogroup.com/GhasemService.asmx"/>
    </wsdl:port>
    <wsdl:port name="GhasemServiceSoap12" binding="tns:GhasemServiceSoap12">
      <soap12:address location="https://ghasemservice.minoogroup.com/GhasemService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>